[Desktop Entry]
Encoding=UTF-8
Name=The Catrooms
Comment=Liminal Cat Horror
StartupNotify=false
Exec=catrooms
Icon=catrooms
Terminal=false
Type=Application
Categories=Game;ArcadeGame;KidsGame;Graphics
